body {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 50px;
  background-color: red;
  border: 2px solid black;
  padding: 25px;
  margin-top: 0px;
}

#intro {
  font-size: 35px;
}

.likes {
  font-size: 20px;
  text-align: left;
  width: 25%;
  margin: auto;
}

#top-ten {
  font-size: 18px;
}
